<section class="section">
  <div class="container">
    <h2 class="title">Recipe App</h2>

    <ng-container *ngIf="data$ | async as data; else loading">
      <!-- Pagination -->
      <div class="level mb-4">
        <div class="level-left">
          <div class="buttons">
            <button class="button is-light" (click)="prev(data.skip)" [disabled]="data.skip === 0">
              ← Back
            </button>

            <button
              class="button is-light"
              (click)="next(data.skip, data.total)"
              [disabled]="data.skip + limit >= data.total"
            >
              Next →
            </button>
          </div>
        </div>

        <div class="level-right">
          <p class="has-text-grey">
            Seite {{ getCurrentPage(data.skip) }} von
            {{ getTotalPages(data.total) }}
          </p>
        </div>
      </div>

      <!-- Cards -->
      <div class="columns is-multiline">
        <div class="column is-one-quarter" *ngFor="let recipe of data.recipes">
          <a class="card" [routerLink]="['/recipes', recipe.id]">
            <div class="card-image">
              <figure class="image is-4by3">
                <img [src]="recipe.image" [alt]="recipe.name" />
              </figure>
            </div>

            <div class="card-content">
              <p class="title is-6">{{ recipe.name }}</p>
            </div>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="notification is-light">Loading Recipes…</div>
    </ng-template>
  </div>
</section>
