<section class="section">
  <div class="container">
    <h2 class="title">Recipe App</h2>

    @if (data$ | async; as data) {
      <!-- Pagination -->
      <div class="level mb-4">
        <div class="level-left">
          <div class="buttons">
            <button class="button is-light" (click)="prev(data.skip)" [disabled]="data.skip === 0">
              ← Back
            </button>

            <button
              class="button is-light"
              (click)="next(data.skip, data.total)"
              [disabled]="data.skip + limit >= data.total"
            >
              Next →
            </button>
          </div>
        </div>

        <div class="level-right">
          <p class="has-text-grey">
            Page {{ getCurrentPage(data.skip) }} of
            {{ getTotalPages(data.total) }}
          </p>
        </div>
      </div>

      <!-- Cards -->
      <div class="columns is-multiline">
        @for (recipe of data.recipes; track recipe.id) {
          <div class="column is-one-quarter">
            <a class="card" [routerLink]="['/recipes', recipe.id]">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img [src]="recipe.image" [alt]="recipe.name" />
                </figure>
              </div>

              <div class="card-content">
                <p class="title is-6">{{ recipe.name }}</p>
              </div>
            </a>
          </div>
        }
      </div>
    } @else {
      <div class="notification is-light">Loading Recipes…</div>
    }
  </div>
</section>
